name: Docker compose action

on:
  push:
    branches:
      - master
    paths:
      - 'Dockerfile'
      - 'docker-compose.yml'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build and run Docker Compose
        run: |
          docker-compose up --build -d
